*.log
.DS_Store

.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/pail/*

Homestead.json
Homestead.yaml
Thumbs.db